$navigation: '.navigation';

#{$navigation} {
    &__list,
    &__item {
        @include list-reset;
    }

    &__link {
        display: block;
        padding: 16px 26px;
        font-size: map-get($font-size, predefault);
        line-height: map-get($line-height, little);
        color: map-get($colors, white);
        text-decoration: none;
        transition: 0.2s ease;

        &:hover {
            color: map-get($colors, white);
            text-decoration: none;
            background-color: map-get($colors, purple);
        }
    }

    &__link_active {
        color: map-get($colors, white);
        text-decoration: none;
        background-color: map-get($colors, purple);
    }
}
