mixin navigation(activeLink)
    - var links = [
    - {title: 'Insurance form', url: '/'},
    - {title: 'Alarm form', url: 'http://ya.ru'},
    - {title: 'Loan form', url: 'http://ya.ru'},
    - {title: 'Insurance form', url: 'http://ya.ru'},
    - {title: 'Alarm form', url: 'http://ya.ru'}
    - ];

    +b('div').navigation
        +e('ul').list
            each link in links
                +e('li').item
                    +e('a').link(href=link.url class=(activeLink === link.url) ? 'navigation__link_active' : '')!= link.title
