mixin navigation(activeLink)
    - var links = [
    - {title: 'Basic form', url: htmlWebpackPlugin.options.data.siteRoot},
    - {title: 'Insurance form', url: `${htmlWebpackPlugin.options.data.siteRoot}insurance.html`},
    - {title: 'Alarm form', url: `${htmlWebpackPlugin.options.data.siteRoot}alarm.html`},
    - {title: 'Real Estate form', url: `${htmlWebpackPlugin.options.data.siteRoot}real-estate.html`}
    - ].map(function(item) {
        - if (item.url === activeLink) return Object.assign({}, item, {isActive: true});

        - if (activeLink !== htmlWebpackPlugin.options.data.siteRoot && item.url.indexOf(activeLink) !== -1) return Object.assign({}, item, {isActive: true});

        - return Object.assign({}, item, {isActive: false})
    - });

    +b('div').navigation
        +e('ul').list
            each link in links
                +e('li').item
                    +e('a').link(href=link.url class= link.isActive ? 'navigation__link_active' : '')!= link.title
