include mixins/bemto.pug
include mixins/favicon.pug
include ../../components/logo/index
include ../../components/navigation/index
include ../../components/intro/index

doctype html

block vars
    - var activeLink = '/';

html(lang="no")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")

        block head
            meta(name="Description" content=pageDescription || "")
            meta(name="Keywords" content=pageKeywords || "")
            title=pageTitle || ""

        link(href="https://fonts.googleapis.com/css?family=Muli:300,400,700&display=swap" rel="stylesheet")
        link(href="css/style.css" rel="stylesheet")

        block styles

    body
        +b('section').layout
            +e('div').container
                +e('div').aside
                    +e('div').logo
                        +logo

                    +e('div').nav
                        +navigation(activeLink)

                +e('div').content
                    +e('div').intro
                        block intro

                    +e('div').form
                        block form

        script(src="js/index.js")

        block scripts

